<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <header>
    <!-- style="background-image: url( asset_path @photo %>)" -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <%= link_to root_path do %>
          <%= image_tag('idlysnydly-logo.png', :alt => 'Logo', class: 'logo') %>
          <% end %>
        </div>
        <div class="col-6 slogan">
          Splurting out unsolicited advice about entrepreneurship since 2016
        </div>
        <div class="col-3 links">
          <%= link_to 'Contribute', new_quote_path %>
          <%= link_to 'About', '#' %>
        </div>
      </div>
    </div>
  </header>

  <br class="clear" />

  
    <div class="container">
      <%= yield %>
    </div>
  

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 text-muted">
          <%= link_to "Next quote, please.", root_path, class: 'btn btn-danger next-quote' %>
        </div>
        <div class="col-6 footer-blurb text-muted">
          Proudly coded by <span class="bold all-caps">Mike Snyder</span><br>
          See more stuff I coded at <a href="http://idlysnydly.com">idlysnydly.com</a>
        </div>
      </div>
    </div>

  </footer>
  </body>
</html>